.interna_portfolio {
	background: url("../img/bg-portfolio.jpg") no-repeat center;
	background-size: cover;
}

.quote_clientes{
	padding: 60px 0;
	margin: 0 auto;
	max-width: 460px;
}

.quote_clientes p{
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	font-style: italic;
}
.quote_clientes cite{
	text-align:right;
	float: right;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
